/*
* menú oculto de nav
*/
.show-on-login li.profile-access {
	margin-top: 0;
	width: 40px;
	height: 40px;
	cursor:pointer;
}

.profile-access img {
	width: 100%;
	border-radius: 50%;
	margin-bottom: 10px;
}

.show-on-login {
	list-style: none;
}

.show-on-login li {
	display: inline-block;
	margin: 15px 5px 0 5px;
}

.show-on-login li .fa-2x {
	color: white;
	cursor: pointer;
}

.show-on-login li:hover {
	opacity: 0.8;
}

.search-container .main, .info-container .main{
	color: black;
}

.info-container span {
 font-size: 14px;
}

.long-plot {
	font-size: 16px;
}
/*
* sección búsqueda no encontrada
*/
.movie-not-found {
	min-height: 500px;
	height: 100%;
}

.movie-not-found p {
	font-size: 20px;
}

/*
* seccion de resultados de búsqueda
*/
.results {
	margin: 50px 0;
}

/*
* contenedor de c/película
*/
.movie {
	border: 1px solid grey;
	margin: 20px 0;
	transition: 0.2s ease-out;
    border: 1px solid #ddd;
    box-shadow: 0 5px 20px #ccc;
}

.title {
	display: inline-block;
	padding-right: 8px;
}

.movie hr, .profile-container hr {
	border-top: 1px dotted #8c8b8b;
	margin: 0;
}

.vista-movie hr {
	border-top: 1px dotted #8c8b8b;
}

.img-container {
	padding: 10px 20px;

}

.img-container img {
	width: 100%;
}

.icons-container ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.icons-container li {
	padding: 2px;
	margin: 18px 0;
	display: inline-block;
	color: #06040F;
}

.icons-container li:hover {
	cursor: pointer;
	color: green;
	color: #08A7AB;
}

span.main {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
	font-size: 12px;
}

.short-plot {
	margin-top: 12px;
}

.bold {
	font-weight: bold;
}

.movie .last-hr {
	margin-bottom: 10px;
}

span.code {
	display: none;
}

.more {
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.more:hover {
	color: red;
}

.mini-title {
	padding: 10px 0;
}

.profile-picture-container {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: white;
}

.profile-info-container {
	background-image: url(../images/wallpaper.jpg);
	border-radius: 5px;
	color: white;
}

@media (min-width: 768px){
	.vertical-align {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.movie li {
		display: block;
	}
	.profile-info {
		padding-left: 40px;
	}
	.profile-info-container.row {
		margin-left: 8.3%;
		margin-right: 8.3%;
		margin-bottom: 20px;
	}
}

@media (max-width: 766px){
	nav {
		padding: 0 5px;
	}
	nav a#login {
		margin: 0;
		margin-right: 15px;
	}
	.movie li {
		margin: 18px 10px;
	}

	.vista-movie {
		padding-left: 0;
		padding-right: 0;
	}

	.movie-not-found p {
		padding: 10px;
		margin: 50px 0;
	}
	.change-container.container-fluid {
		margin: 20px 5px;
	}

	.profile-info {
		padding-top: 15px;
	}
}