/*
* sección búsqueda no encontrada
*/
.movie-not-found {
	background-color: grey;
	min-height: 500px;
	height: 100%;
}

/*
* seccion de resultados de búsqueda
*/
.results {

}

/*
* contenedor de c/película
*/
.movie {
	border: 1px solid grey;
	margin: 20px 0;
	transition: 0.2s ease-out;
}

.title {
	display: inline-block;
	padding-right: 8px;
}

.movie hr {
	border-top: 1px dotted #8c8b8b;
	margin: 0;
}

.img-container {
	padding: 10px 20px;

}

.img-container img {
	width: 100%;
}

.icons-container ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.icons-container li {
	padding: 2px;
	margin: 18px 0;
	display: inline-block;
}

.icons-container li:hover {
	cursor: pointer;
	color: green;
}

span.main {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
	font-size: 12px;
}

.short-plot {
	margin-top: 12px;
}

.bold {
	font-weight: bold;
}

.movie .last-hr {
	margin-bottom: 10px;
}

span.code {
	display: none;
}

.more {
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.more:hover {
	color: red;
}


@media (min-width: 768px){
	.vertical-align {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.movie li {
		display: block;
	}
}

@media (max-width: 766px){
	.movie li {
		margin: 18px 10px;
	}
}