body{
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}


.logotipo{
  height: 100%;
}

/*Estilos Modal*/
.btn-primary {
    color: #fff;
    background-color: #08A7AB;
    border-color: #08A7AB;
    margin-left: 672px;
    margin-top: -102px;
}

.btn-success {
    color: #fff;
    background-color: #ffb240;
    border-color: #ffb240;
}

.btn-success:hover {
    color: #fff;
    background-color: #eba72a;
    border-color: #eba72a;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -13px;
}

/*Estilos de Carrusel*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
  border-radius: 15px;
  margin-left: 140px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

/*Estilos Usuarios*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }
}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}

.logo{
  width: 20%;
}

.space{
  background-image: url(../images/wallpaper.jpg);
  background-size: cover;
}

/*Estilos de profile*/
.dani{
  height: 40px;
}

.ari{
  height: 40px;
}
.leti{
  height: 40px;
}

.lay{
  height: 40px;
}


/*SLPASH*/
.imagen-splash{
  height: 1538px;
}

/*FONDO NEGRO DE PROFILE*/
.img-fondo{
  background-image: url(../images/web-background.jpg);
  background-size: cover;
  color: #ffffff;
}

.background-profile{
  background-image: url(../images/web-background-2.jpg);
  color: #ffffff;
  background-size: cover;
}
.transparent{
  background-color: transparent;
}

.main.jumbotron {
    margin-left: -16px;
    margin-top: -7px;
}

#ad-comment{
  color: #000000;
}

#ad-comment:hover {
    color: #ffffff;
    background-color: #554862;
}

 a{
  color: #D397E4;
 }

 a:hover {
    color: #9C27B0
 }

.glyphicon-circle-arrow-left{
  font-size:4em;
  padding: 0.5em;
  color:#08A7AB;
}
.main.row ,.section-white{
  padding-top: 4.5em;
}
.main.jumbotron{
  background-image: url(../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
h2{
  display: inline-block;
}

.glyphicon.glyphicon-time,
.glyphicon.glyphicon-heart,
.glyphicon.glyphicon-check{
  padding-right: 0.5em;
  font-size: 1.5em;
  color:#08A7AB;
}
.main{
  color: white;
}

.first-time{
  margin:0;
  padding: 0 2em;
}


/*Contenedor de peliculas*/

/* -- Iconos -- */
#container-movies ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 1em;
    margin-left: 0.1em;
  font-size: 1.5em;
  cursor: pointer;
}

#container-movies ul li:hover{
  color:blue;
}

/*Contenedor Comentarios de Peliculas*/
#new-commentbox{
  margin-top: 3em;
  border-top: 1px dotted rgb(51, 42, 102);
}

#new-commentbox h4 {
  font-size: 18px;
  font-weight: bold;
}

#form-movies h3{
  margin-bottom: 1em;
}

#search-container{
  margin-bottom: 3em;
}

/*Estilos Footer*/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

footer {
  font-family: 'Alegreya Sans', sans-serif;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;    
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

/*FOOTER 1*/
.footer1 a {
    color: #DDD;
}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
    color: #FFF;
}

.footer1 .footer {
    padding: 27px 0;
}

.footer1 .footer .footer-desc p {
    color: #DDD;
  margin: 15px 0 8px;
}

.footer1 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer1 .footer .social li {
    float: left;
}

.footer1 .footer .social li a {
  display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #3a4062;
    border-radius: 2px;
    margin: 15px 4px
}

.footer1 .footer .social li a:hover {
    background-color: #87A2AD;
}

.footer1 .footer .input-group {
    margin: 15px 0;
}

.footer1 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}

.footer1 .footer .form-control:hover,
.footer1 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer1 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer1 .footer-bottom ul li {
    display: inline-block;
}

.footer1 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer1 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer1 .footer-bottom ul li:last-child a:after {
    content: "";
}

div.footer {
  margin-top: 0;
  color: white;
}

@media (max-width: 550px) {
  .footer1 .footer-bottom .pull-left,
  .footer1 .footer-bottom .pull-right {
    float: none !important;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}


/* estilos extras */
.show-on-login {
  display: none;
}

nav {
  height: 60px;
  padding: 0 20px;
}

nav ul {
  float: right;
  margin: 0;
}

.nav-img-container {
  padding: 5px 0;
  height: 60px;
  display: inline-block;
}

.logo {
  height: 100%;
  width: auto;
  cursor: pointer;
}
 /* botón de inicio o registro */
#login {
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.row.search {
  background-color: #06040F;
  padding: 75px 0 15px 0;
}

.row.search input {
  width: 70%;
  padding: 2px;
  padding-left: 12px;
  height: 37.5px;
  border-radius: 4px;
  border: 1px solid #ccc
  color: #555;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon {
  width: auto;
  display: inline-block;
  margin: 0;
}

.row.first-time {
  padding: 0;
}

.row.first-time h3 {
  padding: 10px;
}

.row.first-time .thumbnail {
  box-shadow: 0 5px 20px #ccc;
}

.blue {
  color: #08A7AB;
}

div.container.carrusel-c {
  padding: 0;
}

div.change-container.container-fluid {
  margin: 40px 50px 0 50px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 40px!important;
}

.global-container {
  background-image: url(../images/wallpaper.jpg);
}

.carousel.slide {
  margin-bottom: 30px;
}

.vista-movie ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.vista-movie #container-movies ul li {
  padding: 5px;
  margin: 0 5px;
}

.vista-movie #container-movies ul li.check {
  margin-left: 0;
}

.profile-container {
  padding: 20px 0;
}

.profile-container .row {
  margin: 0;
  padding: 30px 0;
}

.profile-container img {
  width: 100%;
  border-radius: 50%;
}

.profile-container .fa-xs {
  margin-right: 5px;
  color: #08A7AB;
}

.profile-container .have-seen-container div, .favorites-container div, .see-later-container div {
  margin: 10px 0;
}

.profile-container .have-seen-container, .profile-container .favorites-container, .profile-container .see-later-container {
  border-radius: 5px;
  background-image: url(../images/wallpaper.jpg);
  margin-bottom: 20px;
}

.search {
  margin: 0;
}

.vista-movie {
  padding: 50px;
}

.list.more {
  background-color: white;
}